[Unit]
Description=Minecraft server
After=network-online.target
Wants=network-online.target

[Service]
User=mcs
Type=oneshot
RemainAfterExit=yes
ExecStart=mcserver.sh start %i
ExecStop=mcserver.sh stop %i

[Install]
WantedBy=multi-user.target